<div class="container" style="margin-top:50px">
	<div class="row" style="margin-left:auto">
		<div class="col-md-3" ng-repeat="foto in fotos">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{foto.titulo}}</h3>
				</div>
				<div class="panel-body">
					<img style="width:100" class="img-responsive" src="{{foto.url}}" alt="{{foto.titulo}}">
					<button type="button" style="width:100%" class="btn btn-warning" ng-model="data.product" ng-click="addToCart(foto.url)">Add to cart</button>
				</div>
			</div>
		</div>
	</div>
</div>